/* --- CSS Variables & Reset --- */
:root {
  --color-gold: #c5a25d;
  --color-dark: #1a1a1a;
  --color-light: #f9f9f9;
  --color-bg: #fffbf9; /* New Background */
  --color-green: #214b48; /* Deep Green */
  --color-sand: #efdbcf; /* Beige */
  --color-gray: #757575;
  --color-border: #e5e5e5;
  --color-white: #ffffff;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", "Montserrat", sans-serif;

  --container-width: 1320px;
  --header-height-mobile: 70px;
  --header-height-desktop: 100px;
  --transition-speed: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--color-dark);
  background-color: #fffbf9;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--transition-speed);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
}

.btn-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  width: 260px;
  height: 49px;

  background: var(--color-white);
  color: #000;

  border: 1px solid (var(--color-dark));
  padding: 12px 20px;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  text-decoration: none;

  transition: all 0.2s ease;
}

.btn-link i {
  font-size: 1em;
  line-height: 1;
}

/* Optional hover effect */
.btn-link:hover {
  background: var(--color-gold);
  color: var(--color-white);
}

.btn-green {
  background-color: var(--color-green);
  color: white;
  padding: 0.9rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  font-weight: 600;
  display: inline-block;
  transition: background 0.3s;
}

.btn-green:hover {
  background-color: transparent;
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.btn-outline {
  border: 1px solid var(--color-dark);
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  font-weight: 600;
  transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: var(--color-dark);
  color: white;
}

.p-desc {
  font-size: smaller;
  color: var(--color-gray);
}

.txt-dark {
  color: var(--color-dark);
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grid::-webkit-scrollbar {
  display: none;
}

.grid-x {
  grid-auto-flow: column;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.icon-lg {
  width: 32px;
  height: 32px;
}

/*---- Common Classes ----*/
.tabs-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 0.5rem;
}
.tabs-container::-webkit-scrollbar {
  display: none;
}
.tab-btn {
  font-size: 1rem;
  color: #999;
  white-space: nowrap;
  transition: all 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: relative;
  border: solid 1px var(--color-green);
  border-radius: 100px;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.tab-btn.active {
  color: var(--color-dark);
}

.media-card {
  position: relative;
  display: flex;
  overflow: hidden;
}
.media-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgb(0 0 0 / 75%) 0%,
    rgb(0 0 0 / 27%) 50%,
    #00000000 100%
  );
}
.media-card img {
  width: 100%;
  height: -webkit-fill-available;
}
.media-card-content {
  position: absolute;
  bottom: 80px;
  z-index: 2;
  max-width: 600px;
  padding-left: 1.5rem;
}
.media-card-title {
  font-family: var(--font-serif);
  line-height: 1.1;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: var(--color-white);
}
.media-card-desc {
  padding-right: 2rem;
  margin-bottom: 2rem;
  color: #444;
  max-width: 450px;
  line-height: 1.7;
  color: var(--color-white);
}

.section-title {
  font-family: var(--font-serif);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.product-grid {
  display: grid;
  grid-auto-flow: column; /* force horizontal layout */
  grid-auto-columns: 280px; /* card width */
  gap: 2rem;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

.products-grid::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* each product card */
.product-card {
  scroll-snap-align: start;
  width: 280px;
  flex-shrink: 0;
  cursor: pointer;
}

.product-image-wrapper {
  position: relative;
  background-color: #f9f9f9;
  aspect-ratio: 4/5;
  overflow: hidden;
  margin-bottom: 1rem;
}

.product-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}

.product-card:hover .product-image-wrapper img {
  transform: scale(1.05);
}

.products-grid {
  display: flex;
  overflow-x: scroll;
}
.product-grid::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.product-title {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 0.2s;
}

.product-card:hover .product-title {
  color: var(--color-gold);
}

.product-price {
  font-family: var(--font-sans);
  color: var(--color-black);
  font-weight: 600;
  font-size: 1rem;
}

.product-mrp {
  font-size: 0.8rem;
  color: #999;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.add-to-cart-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  color: var(--color-dark);
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.15em;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.add-to-cart-btn:hover {
  background-color: var(--color-dark);
  color: white;
}

.product-card:hover .add-to-cart-btn {
  transform: translateY(0);
}

.wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover .wishlist-btn {
  opacity: 1;
  transform: translateY(0);
}

.subtitle {
  font-size: 0.8rem;
  letter-spacing: 0.25em;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* --- Utilities --- */
.icon-sm,
.txt-sm {
  font-size: 0.8rem;
}

.icon-md,
.txt-md {
  font-size: 1.2rem;
}

.icon-lg,
.txt-lg {
  font-size: 1.5rem;
}

.icon-xlg,
.txt-xlg {
  font-size: 2.3rem;
}

.fw-600 {
  font-weight: 600;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.bb-1 {
  border-bottom: 1px solid var(--color-border);
}

.pl-5 {
  padding-left: 5rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.txt-center {
  text-align: center;
}

.mx-width-660 {
  max-width: 660px;
}

.gap-1 {
  gap: 1rem;
}

.bg-green {
  background-color: var(--color-green);
  color: var(--color-white);
}

.bg-sand {
  background-color: var(--color-sand);
  color: var(--color-dark);
}

.zoom-hover:hover img {
  transform: scale(1.05);
}

.btn-sm {
  width: fit-content;
  height: fit-content;
  padding: 8px 18px;
}

.container {
  padding: 0 1.5rem;
}

.text-serif {
  font-family: var(--font-serif);
}
.text-gold {
  color: var(--color-gold);
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.hidden {
  display: none !important;
}

.desktop-only {
  display: none;
}

/* Animation */
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Announcement Bar */
.announcement-bar {
  height: 39px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.announcement-text {
  text-align: center;
  flex-grow: 1;
}

.announcement-icons {
  position: relative;
  right: 1.5rem;
  gap: 1rem;
  display: none;
}

/* Header Styles */
.header {
  display: flex;
  align-items: anchor-center;

  align-items: anchor-center;
  margin: 0.5rem 1rem;
}

.mobile-controls {
  flex: 1;
}

.header-left {
  display: none;
  flex: 1;
}
.search-wrapper {
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px 12px;
  width: 322px;
  border-radius: 9999px;
  height: 45px;
  position: relative;
}
.search-wrapper input {
  border: none;
  outline: none;
  font-size: 0.85rem;
  width: 100%;
  font-family: var(--font-sans);
  color: var(--color-dark);
  background: transparent;
}
.search-wrapper input::placeholder {
  color: #999;
}
.search-wrapper .ph-magnifying-glass {
  position: absolute;
  right: 15px;
  font-size: 1.2rem;
  color: var(--color-gray);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.8rem;
  flex: 1;
}
.cart-icon-wrapper {
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--color-gold);
  color: var(--color-white);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.7rem;
  font-weight: bold;
}

/*---- Desktop Navigation Bar ----*/
.navbar {
  padding: 0.5rem 0;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.nav-links a {
  position: relative;
}
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: var(--color-gray);
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 100%;
}

/*---- Mobile search bar ----*/
.mobile-search-bar {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
}
.mobile-search-bar .search-wrapper {
  height: 40px;
  padding: 8px 12px;
  background-color: var(--color-white);
  border: 0;
  width: 100%;
}

/*---- Mobile quick search menu ----*/
.mobile-quick-search {
  margin: 1rem 1.5rem 0.5rem;
}

.mobile-quick-search .tab-btn img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

/*---- Features Section ----*/
.features-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0 3rem;
  flex-flow: wrap;
}

/*---- Give Cards Section ----*/
.gift-notes-section {
  padding: 3rem 0 2px;
}

.gift-card-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 75%;
  gap: 1rem;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
}

.gift-card-grid::-webkit-scrollbar {
  display: none;
}

/* Hide big image on mobile */
.grid-item--big {
  display: none;
}

.gift-grid-item {
  scroll-snap-align: start;
  text-align: center;
}

.gift-grid-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 0.75rem;
}

/*---- Highlight section ----*/
.highlight-section {
  grid-auto-columns: minmax(100%, 1fr);
  grid-auto-flow: column;
  gap: 0.3rem;
  overflow: scroll;
}

.highlight-section .media-card-content {
  bottom: 30px;
}

/*---- Collection Section ----*/
#collection-grid {
  gap: 0.5rem;
}
#collection-grid .product-card {
  flex: 1;
}

/* Review Section */
.review-stars {
  font-size: 1rem;
  color: #d4a017; /* gold tone */
  letter-spacing: 2px;
}

.reviewer-name {
  font-weight: 500;
  font-size: 0.85rem;
  margin-top: 0.5rem;
  text-align: right;
}

.out-ethos {
  padding: 2rem;
  line-height: 1.1;
}
.out-ethos div {
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.out-ethos div p {
  line-height: normal;
}
.features-3 {
  grid-template-columns: repeat(3, 1fr);
}
.img-box-container {
  position: relative;
}

.img-let-img {
  position: absolute;
  top: 50%;
  left: 190px;
  transform: translate(-50%, -50%);
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "brand brand"
    "collection links"
    "policies policies";
  gap: 2rem;
}

.footer-area-brand {
  grid-area: brand;
}

.footer-area-collection {
  grid-area: collection;
}

.footer-area-links {
  grid-area: links;
}

.footer-area-policies {
  grid-area: policies;
}

.feature-flex {
  flex-direction: column-reverse;
}

.img-box-container {
  display: none;
}

.diamond-section {
  width: 100%;
  padding-left: 1.5rem;
}

/*---- TABLET (min-width: 768px) ----*/
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }

  .announcement-icons,
  .header-left,
  .navbar {
    display: flex;
  }

  .header {
    margin: 0.5rem 3rem;
  }

  .search-wrapper,
  .ph-user {
    display: block;
  }

  .section-title {
    font-size: 2.25rem;
  }

  .gift-notes-section {
    text-align: center;
  }

  .gift-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    overflow: visible;
    scroll-snap-type: none;
  }

  /* Show big merged image */
  .grid-item--big {
    display: block;
    grid-column: 1 / 3; /* A + B columns */
    grid-row: 1 / 3; /* Row 1 + 2 */
  }

  .grid-item--big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gift-grid-item {
    scroll-snap-align: unset;
  }
  .celebrate-section .product-card {
    flex: 1; /* same as flex: 1 1 0 */
    min-width: 0; /* IMPORTANT for text overflow */
  }
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "brand brand brand"
      "collection links policies";
  }

  .feature-flex {
    flex-direction: row;
  }
  .img-box-container {
    display: flex;
  }
}

/*---- DESKTOP (min-width: 1024px) ----*/
@media (min-width: 1024px) {
  .highlight-section {
    grid-auto-columns: minmax(50%, 1fr);
  }
  .footer-grid {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas: none;
  }

  /* 🔥 THIS IS THE MISSING PIECE */
  .footer-area-brand,
  .footer-area-collection,
  .footer-area-links,
  .footer-area-policies {
    grid-area: auto;
  }
}
